@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    box-sizing: inherit;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    background-color: #D8D8D8;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
nav ul li{
    padding: .5rem 1em;
    cursor: pointer;
    font-size: 1.25rem;
}
nav ul li:hover{
  background-color: #fff;
  border-bottom: 5px inset;
}
img{
    max-width: calc(100vw/2);
    border-radius: 5px;
}
main{
    padding-top: 2.5rem;
    color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    text-align: center;
    height: fit-content;
    font-size: .95em;
    text-align: center;
    background-color: #D8D8D8;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .1rem;
}
footer p a{
    display: flex;
    flex-direction: row;
    gap: .1rem;
}
.paragraph{
    padding: .5em 1em;
    font-size: 1.25rem;
    text-align: justify;
    line-height: 1.5;
}
.home-container{
    display: flex;
    flex-direction: row;
}
.home-container_left,
.home-container_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.home-container_right{
    padding: 1rem 0;
}
.food-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    margin: 1rem;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}
.food-container_left,
.food-container_right{
    padding: 1rem;
}
img{
    width: calc(100vw/2);
}
.food-image{
    max-width: 400px;
}
.food-description{
    font-size: 1.25rem;
    text-align: justify;
    line-height: 1.5;   
    padding: .5rem 0;
}
.selected-tab{
    color: #000;
    background-color: #fff;
    border-bottom: 5px inset brown;
    font-weight: bold;
    border-top-right-radius: 1rem;
}
.history-container{
    padding: 0 5rem;
}
.history-title{
    padding: 1rem 0 0 1.25rem; 
}
#github-icon{
    width: 1rem;
    height: 1rem;
}

@media only screen and (max-width:1200px){

    .home-container{
        flex-direction: column;
    }
    .food-container{
        flex-direction: column;
        text-align: center;
    }
    .history-container{
        padding: 0 1rem;
    }
}

